<ul class="side-menu">
  <li class="side-menu__item">
    <ods-icon name="home" class="side-menu__item__icon"></ods-icon>
    <app-link label="Dashboard" route="DASHBOARD" class="side-menu__item__link">
    </app-link>
  </li>
  <li class="side-menu__item">
    <ods-icon name="user" class="side-menu__item__icon"></ods-icon>
    <app-link label="Users" route="USERS" class="side-menu__item__link">
    </app-link>
  </li>
  <li class="side-menu__item">
    <ods-icon name="store" class="side-menu__item__icon"></ods-icon>
    <app-link label="Products" route="PRODUCTS" class="side-menu__item__link">
    </app-link>
  </li>
</ul>
